@model List<AplicatieDisertatie.Models.FileViewModel>

@{
	ViewBag.Title = "View Files";
	//Layout = "~/ Views / Shared / _Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("FieldId")
        </th>
        <th>
            @Html.DisplayName("UserName")
        </th>
        <th>
            @Html.DisplayName("FileName")
        </th>
        <th>
            @Html.DisplayName("UpdatedOn")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FileId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedOn)
        </td>
		<td>
			@Html.ActionLink("Open", "OpenFile", new { id=item.FileId }) |
			@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
			@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
			@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
		</td>
    </tr>
}

</table>
