@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <b>Institutia pentru inmatriculari autoturisme</b><br />
    Strada Amaradia, 93-95<br />
    Click
    @Html.ActionLink("Aici", "DisplayMap", "DisplayMap", new { area = "", actionId = 3 }, null) pentru adresa! <br />
    <abbr title="Phone">P:</abbr>
    0251.555.010
</address>

<address>
    <b>Institutita pentru eliberari buletine si pasapoarte (buletin/pasaport)</b><br />
    Calea unirii, 45<br />
    Click
    @Html.ActionLink("Aici", "DisplayMap", "DisplayMap", new { area = "", actionId = 2 }, null) pentru adresa! <br />
    <abbr title="Phone">P:</abbr>
    0251.555.011
</address>

<address>
    <b>Institutia pentru eliberari permise</b><br />
    Vulturi, 19<br />
    Click
    @Html.ActionLink("Aici", "DisplayMap", "DisplayMap", new { area = "", actionId = 1 }, null) pentru adresa! <br />
    <abbr title="Phone">P:</abbr>
    0251.555.012
</address>

<address>
    <b>Institutia pentru radieri autovehicule</b><br />
    Vulturi, 19<br />
    Click
    @Html.ActionLink("Aici", "DisplayMap", "DisplayMap", new { area = "", actionId = 4 }, null) pentru adresa! <br />
    <abbr title="Phone">P:</abbr>
    0251.555.013
</address>



<address>
    <strong>Support:</strong>   <a href="mailto:booking.gov.noreply@gmail.com">booking.gov.noreply@gmail.com</a><br />
</address>